.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.714000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.667258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.716000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.987000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.726000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.810244;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.987000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.015000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.688000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.726000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.020000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.592735;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.990234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.993652;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.688000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.987000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.993652;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.682000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.993652;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.683000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.712912px;}
._2{width:2.918220px;}
._5{width:6.597467px;}
._1{width:8.222948px;}
._3{width:15.033869px;}
._4{width:25.383338px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fsa{font-size:79.979997px;}
.fs12{font-size:87.989996px;}
.fsb{font-size:88.319999px;}
.fs9{font-size:92.879993px;}
.fs11{font-size:95.969996px;}
.fs3{font-size:99.990002px;}
.fs6{font-size:104.369999px;}
.fs8{font-size:119.999995px;}
.fse{font-size:129.629992px;}
.fs10{font-size:131.970001px;}
.fsf{font-size:135.899991px;}
.fsd{font-size:135.990000px;}
.fs5{font-size:139.979994px;}
.fs4{font-size:159.989999px;}
.fs2{font-size:319.979999px;}
.fsc{font-size:367.979997px;}
.fs7{font-size:399.989989px;}
.fs0{font-size:559.979977px;}
.fs1{font-size:599.999975px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000007px;}
.y1e{bottom:57.663934px;}
.y12{bottom:72.839229px;}
.y14{bottom:108.922723px;}
.y1d{bottom:126.663931px;}
.y13{bottom:157.672721px;}
.y1c{bottom:161.163929px;}
.y34{bottom:166.188977px;}
.y7{bottom:189.966376px;}
.y6{bottom:195.966376px;}
.y19{bottom:213.061839px;}
.y1b{bottom:242.383814px;}
.y31{bottom:247.434086px;}
.y18{bottom:249.061838px;}
.y33{bottom:255.130885px;}
.y3d{bottom:279.705300px;}
.y10{bottom:281.400804px;}
.y17{bottom:285.061836px;}
.y11{bottom:287.400804px;}
.y30{bottom:294.684084px;}
.y23{bottom:301.691939px;}
.y29{bottom:306.575267px;}
.y3c{bottom:312.705299px;}
.y2{bottom:318.678796px;}
.y16{bottom:321.061835px;}
.y36{bottom:324.829018px;}
.y28{bottom:326.691898px;}
.y5{bottom:336.500816px;}
.y35{bottom:344.072794px;}
.y3f{bottom:367.867665px;}
.y40{bottom:373.699993px;}
.y15{bottom:381.409290px;}
.y3b{bottom:384.274964px;}
.y2f{bottom:389.184080px;}
.ye{bottom:389.567240px;}
.y26{bottom:391.233236px;}
.yf{bottom:395.567211px;}
.y22{bottom:403.725072px;}
.y4{bottom:421.250812px;}
.y25{bottom:421.983234px;}
.y2a{bottom:427.024962px;}
.y2e{bottom:436.434078px;}
.y1a{bottom:455.179903px;}
.y3e{bottom:465.189883px;}
.y3{bottom:466.064277px;}
.y24{bottom:482.325069px;}
.yc{bottom:490.067236px;}
.yd{bottom:494.567235px;}
.y39{bottom:502.800829px;}
.y2d{bottom:530.934074px;}
.y21{bottom:544.760485px;}
.y38{bottom:550.050827px;}
.ya{bottom:574.543102px;}
.y20{bottom:577.010484px;}
.y2c{bottom:578.184072px;}
.yb{bottom:580.543101px;}
.y37{bottom:597.300825px;}
.y2b{bottom:625.434070px;}
.y1f{bottom:643.166796px;}
.y8{bottom:668.985339px;}
.y3a{bottom:674.009463px;}
.y9{bottom:674.985339px;}
.y32{bottom:692.535180px;}
.y27{bottom:722.379748px;}
.h11{height:57.025738px;}
.h1d{height:66.344457px;}
.h6{height:70.792921px;}
.h12{height:72.069119px;}
.h1c{height:73.430168px;}
.h8{height:75.392461px;}
.hf{height:75.790074px;}
.hb{height:78.694979px;}
.he{height:81.591841px;}
.hd{height:94.199996px;}
.h1b{height:100.975093px;}
.h18{height:101.759543px;}
.h15{height:103.586133px;}
.h19{height:103.982073px;}
.h16{height:104.050943px;}
.h9{height:109.884295px;}
.h7{height:113.272920px;}
.h10{height:216.946439px;}
.h5{height:226.545839px;}
.ha{height:228.145739px;}
.h1a{height:248.386498px;}
.h17{height:249.490438px;}
.h1e{height:270.393233px;}
.h13{height:369.819897px;}
.h3{height:395.345864px;}
.hc{height:399.687558px;}
.h14{height:406.683939px;}
.h4{height:573.154815px;}
.h2{height:809.999966px;}
.h0{height:809.999993px;}
.h1{height:810.000000px;}
.w1{width:1439.999940px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x2b{left:26.334304px;}
.x22{left:95.098926px;}
.x1a{left:98.396355px;}
.x13{left:99.712910px;}
.xd{left:102.303152px;}
.xc{left:109.836660px;}
.x29{left:114.427774px;}
.x2e{left:122.261515px;}
.x3{left:139.722225px;}
.x27{left:160.722407px;}
.x19{left:187.787570px;}
.x2a{left:252.773428px;}
.x14{left:257.072625px;}
.x25{left:274.893343px;}
.x23{left:278.728728px;}
.x1{left:306.171975px;}
.x28{left:415.488021px;}
.x2{left:553.864024px;}
.x1c{left:589.115132px;}
.x24{left:622.961581px;}
.x1f{left:645.165915px;}
.x18{left:650.054565px;}
.x17{left:663.399812px;}
.x12{left:694.308427px;}
.xe{left:695.855659px;}
.xf{left:707.698099px;}
.x16{left:731.855301px;}
.x11{left:733.777175px;}
.x15{left:738.347845px;}
.x10{left:750.190284px;}
.x5{left:802.436207px;}
.x6{left:804.123707px;}
.x7{left:806.457275px;}
.x1e{left:822.482310px;}
.x21{left:826.091685px;}
.x20{left:866.298718px;}
.x1d{left:870.540906px;}
.x1b{left:880.079968px;}
.x4{left:884.229347px;}
.x8{left:887.312963px;}
.x2d{left:916.330748px;}
.x9{left:949.918906px;}
.xb{left:963.289999px;}
.x26{left:972.845815px;}
.x2c{left:1012.707496px;}
.xa{left:1018.942341px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.283883pt;}
._2{width:3.890960pt;}
._5{width:8.796622pt;}
._1{width:10.963930pt;}
._3{width:20.045158pt;}
._4{width:33.844451pt;}
.fsa{font-size:106.639996pt;}
.fs12{font-size:117.319995pt;}
.fsb{font-size:117.759999pt;}
.fs9{font-size:123.839991pt;}
.fs11{font-size:127.959995pt;}
.fs3{font-size:133.320002pt;}
.fs6{font-size:139.159998pt;}
.fs8{font-size:159.999993pt;}
.fse{font-size:172.839989pt;}
.fs10{font-size:175.960001pt;}
.fsf{font-size:181.199988pt;}
.fsd{font-size:181.320000pt;}
.fs5{font-size:186.639992pt;}
.fs4{font-size:213.319999pt;}
.fs2{font-size:426.639998pt;}
.fsc{font-size:490.639996pt;}
.fs7{font-size:533.319986pt;}
.fs0{font-size:746.639969pt;}
.fs1{font-size:799.999967pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000009pt;}
.y1e{bottom:76.885245pt;}
.y12{bottom:97.118972pt;}
.y14{bottom:145.230298pt;}
.y1d{bottom:168.885241pt;}
.y13{bottom:210.230295pt;}
.y1c{bottom:214.885239pt;}
.y34{bottom:221.585303pt;}
.y7{bottom:253.288501pt;}
.y6{bottom:261.288501pt;}
.y19{bottom:284.082452pt;}
.y1b{bottom:323.178419pt;}
.y31{bottom:329.912114pt;}
.y18{bottom:332.082450pt;}
.y33{bottom:340.174514pt;}
.y3d{bottom:372.940400pt;}
.y10{bottom:375.201072pt;}
.y17{bottom:380.082448pt;}
.y11{bottom:383.201072pt;}
.y30{bottom:392.912112pt;}
.y23{bottom:402.255919pt;}
.y29{bottom:408.767023pt;}
.y3c{bottom:416.940399pt;}
.y2{bottom:424.905061pt;}
.y16{bottom:428.082446pt;}
.y36{bottom:433.105358pt;}
.y28{bottom:435.589198pt;}
.y5{bottom:448.667754pt;}
.y35{bottom:458.763725pt;}
.y3f{bottom:490.490220pt;}
.y40{bottom:498.266658pt;}
.y15{bottom:508.545720pt;}
.y3b{bottom:512.366619pt;}
.y2f{bottom:518.912106pt;}
.ye{bottom:519.422986pt;}
.y26{bottom:521.644314pt;}
.yf{bottom:527.422948pt;}
.y22{bottom:538.300096pt;}
.y4{bottom:561.667749pt;}
.y25{bottom:562.644313pt;}
.y2a{bottom:569.366616pt;}
.y2e{bottom:581.912104pt;}
.y1a{bottom:606.906538pt;}
.y3e{bottom:620.253177pt;}
.y3{bottom:621.419037pt;}
.y24{bottom:643.100092pt;}
.yc{bottom:653.422981pt;}
.yd{bottom:659.422981pt;}
.y39{bottom:670.401105pt;}
.y2d{bottom:707.912099pt;}
.y21{bottom:726.347314pt;}
.y38{bottom:733.401102pt;}
.ya{bottom:766.057469pt;}
.y20{bottom:769.347312pt;}
.y2c{bottom:770.912096pt;}
.yb{bottom:774.057469pt;}
.y37{bottom:796.401100pt;}
.y2b{bottom:833.912093pt;}
.y1f{bottom:857.555727pt;}
.y8{bottom:891.980452pt;}
.y3a{bottom:898.679284pt;}
.y9{bottom:899.980452pt;}
.y32{bottom:923.380240pt;}
.y27{bottom:963.172997pt;}
.h11{height:76.034317pt;}
.h1d{height:88.459276pt;}
.h6{height:94.390562pt;}
.h12{height:96.092159pt;}
.h1c{height:97.906890pt;}
.h8{height:100.523282pt;}
.hf{height:101.053433pt;}
.hb{height:104.926639pt;}
.he{height:108.789122pt;}
.hd{height:125.599995pt;}
.h1b{height:134.633458pt;}
.h18{height:135.679391pt;}
.h15{height:138.114844pt;}
.h19{height:138.642765pt;}
.h16{height:138.734590pt;}
.h9{height:146.512394pt;}
.h7{height:151.030559pt;}
.h10{height:289.261919pt;}
.h5{height:302.061119pt;}
.ha{height:304.194319pt;}
.h1a{height:331.181997pt;}
.h17{height:332.653917pt;}
.h1e{height:360.524310pt;}
.h13{height:493.093196pt;}
.h3{height:527.127818pt;}
.hc{height:532.916744pt;}
.h14{height:542.245253pt;}
.h4{height:764.206420pt;}
.h2{height:1079.999955pt;}
.h0{height:1079.999991pt;}
.h1{height:1080.000000pt;}
.w1{width:1919.999920pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x2b{left:35.112406pt;}
.x22{left:126.798568pt;}
.x1a{left:131.195140pt;}
.x13{left:132.950546pt;}
.xd{left:136.404202pt;}
.xc{left:146.448880pt;}
.x29{left:152.570365pt;}
.x2e{left:163.015353pt;}
.x3{left:186.296299pt;}
.x27{left:214.296542pt;}
.x19{left:250.383426pt;}
.x2a{left:337.031237pt;}
.x14{left:342.763500pt;}
.x25{left:366.524458pt;}
.x23{left:371.638304pt;}
.x1{left:408.229300pt;}
.x28{left:553.984028pt;}
.x2{left:738.485366pt;}
.x1c{left:785.486843pt;}
.x24{left:830.615441pt;}
.x1f{left:860.221220pt;}
.x18{left:866.739420pt;}
.x17{left:884.533083pt;}
.x12{left:925.744569pt;}
.xe{left:927.807545pt;}
.xf{left:943.597465pt;}
.x16{left:975.807067pt;}
.x11{left:978.369567pt;}
.x15{left:984.463793pt;}
.x10{left:1000.253712pt;}
.x5{left:1069.914942pt;}
.x6{left:1072.164942pt;}
.x7{left:1075.276366pt;}
.x1e{left:1096.643080pt;}
.x21{left:1101.455580pt;}
.x20{left:1155.064958pt;}
.x1d{left:1160.721208pt;}
.x1b{left:1173.439957pt;}
.x4{left:1178.972463pt;}
.x8{left:1183.083951pt;}
.x2d{left:1221.774331pt;}
.x9{left:1266.558541pt;}
.xb{left:1284.386665pt;}
.x26{left:1297.127754pt;}
.x2c{left:1350.276662pt;}
.xa{left:1358.589787pt;}
}
